body {
    font-family: Arial, sans-serif;
    background-color: #f3c8c8;
    text-align: center;
    color: rgb(227, 240, 227);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  
}
#main-section{
    background-color: #f3c8c8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
    border: 2px solid #d1a6a6;
    opacity: 0.8    ;




}