body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f3c8c8;
    text-align: center;
    color: rgb(227, 240, 227);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  
}